@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@import './base.css';
@import 'tailwindcss';
@plugin "daisyui";

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

#app {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  font-weight: normal;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--vt-c-black-soft);
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.btn-white-bg-black-text {
  background-color: var(--vt-c-white-soft);
  color: var(--vt-c-black);
  border: 0;
  box-shadow: 0 4px 6px var(--vt-c-black);
  font-family: 'Montserrat', sans-serif;
  margin: 10px;
}

.btn-white-bg-black-text:hover {
  background-color: var(--vt-c-black);
  color: var(--vt-c-white-soft);
  border: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 10px;
}

.btn-white-bg-black-text:disabled {
  background-color: var(--vt-c-gray);
  color: var(--vt-c-white-mute);
  border: 0;
  box-shadow: none;
  font-family: 'Montserrat', sans-serif;
  cursor: not-allowed;
  opacity: 0.6;
}

.margin-t-0_5 {
  margin-top: 0.5rem;
}

.margin-r-0_5 {
  margin-right: 0.5rem;
}

.margin-1 {
  margin: 1rem;
}

.margin-1_5 {
  margin: 1.5rem;
}

.margin-2 {
  margin: 2rem;
}

.margin-4 {
  margin: 4rem;
}

.padding-1 {
  padding: 1rem;
}

.badge {
  background-color: var(--vt-c-white-mute);
  color: var(--vt-c-black);
  border: none;
  box-shadow: 0 4px 6px var(--vt-c-black);
}

.table-header {
  background-color: var(--vt-c-black);
  color: var(--vt-c-white-soft);
}

.table-border {
  border: 1px solid var(--vt-c-gray-soft);
}

.tr-border {
  border: 1px solid var(--vt-c-gray-soft);
}

.select,
.input,
.textarea {
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
}
.select:focus,
.input:focus,
.textarea:focus {
  border-color: #777;
}

.title-text {
  font-family: 'Cormorant', serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--vt-c-white-mute);
}

.app-bar {
  background-color: var(--vt-c-black);
  box-shadow: 0 4px 6px var(--vt-c-black);
}

.nav-drawer {
  background-color: var(--vt-c-black);
  box-shadow: 0 4px 6px var(--vt-c-black);
}

.activity-type-message-created {
  background-color: #ffd186;
  color: #a03e01;
}

.activity-type-message-delivered {
  background-color: #b4f8c8;
  color: #0a852f;
}

.activity-type-message-deleted {
  background-color: #ffaebc;
  color: #a30a24;
}

.activity-type-checked-in {
  background-color: #a0e7e5;
  color: #007672;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
  }

  #app {
    display: block;
    padding: 0 0;
  }
}
